<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Crie sua conta</h4>
                        </div>
                        <div class="text-center">
                            @* <img src="../projeto/assets/vila.png" width="50%" class="rounded" alt="..."> *@
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div>
                                <div class="mb-3">
                                    <label>Usuário:</label>
                                    <input type="text" name="usuario" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="text" name="email" class="form-control">
                                </div>
                            </div>
                            <div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="senha">Senha</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="senha" name="senha">
                                            <button class="btn btn-outline-secondary" type="button" id="mostrar-senha">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="senha">Confirmar Senha</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="confirmar-senha" name="confirmar-senha">
                                            <button class="btn btn-outline-secondary" type="button" id="mostrar-senha">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-success">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>